# ==========================================
# 1. PYTHON & SYSTEMS CACHE
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# ==========================================
# 2. DATA (Ignore raw and split datasets)
# ==========================================
data/*
!data/.gitkeep

# ==========================================
# 3. OUTPUTS: MODELS & PREDICTIONS
# ==========================================
# Ignore heavy trained model artifacts
outputs/models/*.pkl

# Ignore generated prediction results
outputs/predictions/*.csv

# ==========================================
# 4. OUTPUTS: PLOTS (Optional)
# ==========================================
# Un-comment the line below if you don't want to push EDA/Evaluation charts
# outputs/plots/*.png

# ==========================================
# 5. IDE CONFIGURATION
# ==========================================
.vscode/
.idea/
